{% extends 'base.html' %}

{% block titulo %}
    Lista de videojuego
{% endblock titulo %}

{% block contenido %}
    <h1>Lista de artículos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Stock</th>
                <th>Género</th>
                <th>Categoría</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos  %}
                <tr>
                    <td>{{articulo.nombre}}</td>
                    <td>
                        {% if articulo.decripcion %}
                            {{articulo.decripcion}}    
                        {% else %}
                            No cuenta con descripción
                        {% endif %}
                    </td>
                    <td>{{articulo.stock}}</td>
                    <td>{{articulo.genero}}</td>
                    <td>{{articulo.categoria.nombre}}</td>
                    <td>
                        
                        <a class="btn btn-outline-primary btn-sm" href="{% url 'editar_articulos' articulo.id %}">Editar</a>
                        <a class="btn btn-outline-warning btn-sm" href="{% url 'eliminar_articulos' articulo.id %}">Eliminar</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">
                        <p>No existen artículos registrados</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock contenido %}
